#location {
  color: #fff !important;
}
#location > p {
  margin-bottom: 0;
  color: white !important;
  font-family: "Poppins", sans-serif !important;
}

.city {
  font-size: 32px;
  font-weight: bold;
}

.state {
  font-size: 16px;
}

.change {
  font-size: 12px;
  cursor: pointer;
  text-decoration: underline;
  font-weight: bold;
}
